@import "../node_modules/normalize.css/normalize.css";

/* Define root color variables */
:root {
  --primary-color: #FB761D;
  --secondary-color: #231C58;
  --background-color: #97b8c1;
  --modal-overlay-color: #FC8E23;
  --modal-content-background: #087085;
  --modal-box-shadow: 0 0 10px #161238;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
